<section id='car-sec'>
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/img/cogenesis-group.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>CSI-DTU</h3>
          <h5 class="light grey-text text-lighten-3">Student Chapter</h5>
        </div>
      </li>
      <li>
        <img src="/img/cogenesis-group.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>CSI-DTU</h3>
          <h5 class="light grey-text text-lighten-3">Student Chapter</h5>
        </div>
      </li>
      <li>
        <img src="/img/cogenesis-group.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>CSI-DTU</h3>
          <h5 class="light grey-text text-lighten-3">Student Chapter</h5>
        </div>
      </li>
      <li>
        <img src="/img/cogenesis-group.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>CSI-DTU</h3>
          <h5 class="light grey-text text-lighten-3">Student Chapter</h5>
        </div>
      </li>
    </ul>
  </div>
</section>



<div class='row'>
  <div class='col s12 m8 l5 center-align' id='who_we_are'>
    <h4>Who We Are?..</h4>
    <p class='flow-text'>We are the DTU student chapter of Computer Society of India(CSI).<br />
      Our society is one of the most active societies currently in DTU.<br />
      We regularly organize IDGs, seminars, fests.<br /><a href='/about_us'>Read More</a></p>
</div>
</div>

  <div id='front-car' class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-fixed-item center">
    <a href='activities' id='front-car-a' class="btn waves-effect white grey-text darken-text-2">Explore</a>
  </div>
  <div id='front-car-fests' class="carousel-item red white-text">
    <h2>Fests</h2>
    <p class="white-text">CSI fests</p>
    <p class='white-text'>Details will be posted shortly.</p>
  </div>
  <div id='front-car-events' class="carousel-item amber white-text">
    <h2>Events</h2>
    <p class="white-text">Upcoming Events</p>
    <p class='white-text'>Latest schedule will be posted shortly.</p>
  </div>
  <div id='front-car-seminars' class="carousel-item green white-text">
    <h2>Seminars</h2>
    <p class="white-text">Upcoming seminars</p>
    <p class='white-text'>Information will be update shortly.</p>
  </div>
  <div id='front-car-idgs' class="carousel-item blue white-text">
    <h2>IDGs</h2>
    <p class="white-text">Interest Devlelopment Groups</p>
    <p class='white-text'>Latest schedule will be posted shortly.</p>
  </div>
</div>
